@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

:root{
	--cor-roxa: rgba(50, 50, 170, .8);
	--cor-branca: #ffffff;
}


body{
	font-family: 'Quicksand', sans-serif;
	font-size: 16px;
	color: var(--cor-branca);
	;
}

/* Cabeçalho */

#cabecalho{
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	align-items: center;

	height: 30vh;
	padding: 1em 2em;

	background: var(--cor-roxa);
	color: var(--cor-branca);
}

.titulo{
	font-size: 2em;
}

.paragrafo{
	font-size: .8em;
}

/* Main */

#principal{
	height: 100vh;
	background: var(--cor-branca);
}

.principal__buttons{
	display: flex;
	justify-content: space-around;

	padding: 2em;
}

/* Botões */

.buttons{
	border: none;
	margin: 1em 0;
	padding: .5em;

	background: var(--cor-roxa);
	color: var(--cor-branca);

	border-radius: 10px;
	cursor: pointer;
}

.buttons:hover{
		background: rgba(156, 156, 156);
	}

/* Livros */

.principal__livros{
	display: flex;
	justify-content: center;

}

.wrap{
	flex-wrap: wrap;
}

.livro{
	text-align: center;
	align-items: center;
	justify-content: center;
	margin: .5em .2em;
}

.img__livro{
	margin: 1em;
	height: 350px;
	width: 240px;
}

.titulo__livro{
	display: flex;
	justify-content: center;
}

.titulo__livro h2{
	text-align: center;
	color: rgba(50, 50, 170);
	width: 240px;
}

/* Responsivo */

@media screen and (max-width: 980px){

	/* Header */

	.titulo{
		font-size: 1.5em;
	}

	.paragrafo{
		font-size: .7em;
	}

	/* Botões */

	.buttons{
		padding: 15px;
		border-radius: 100%;
		height: 30px;
		width: 20px;

		color: transparent;
		font-size: 0;
	}

	.buttons:hover{
		background: rgba(156, 156, 156, .3);
		transition: .2s;
	}

	/* Livros */

	.wrap{
		flex-wrap: wrap;
	}

	.img__livro{
		height: 250px;
		width: 200px;
	}

}